* {
  background-color: #1A1A1D;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 550px;
  height: 450px;
  margin: 13% auto;
  padding: 45px;
  background-color: inherit;
  border: 5px solid #6F2232;
  border-radius: 15px;
}

.settingsWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 450px;
  height: 170px;
  padding: 30px;
  color: #6F2232;
  font-size: 30px;
  border: 3px solid #6F2232;
  border-radius: 15px;
}

.settingsValue {
  display: flex;
  gap: 10px;
}
.settingsTitle {
  display: inline-block;
  width: 160px;
}
input[type="number"] {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #6F2232;
  background-color: #C2CAD0;
  border: 2px solid #6F2232;
  border-radius: 5px;
}

.number {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #6F2232;
  padding-top: 10%;
  width: 450px;
  height: 170px;
  border: 3px solid #6F2232;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 25px;
  width: 450px;
  height: 150px;
  border: 3px solid #6F2232;
  border-radius: 15px;
}

.btn {
  margin: 15px 10px;
  color: #1A1A1D;
  background-color: #6F2232;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  width: 100px;
  height: 70px;
}

.disabled {
  border: 3px solid #6F2232;
  color: #1A1A1D;
  background-color: #4E4E50;
}

.num-disabled {
  border: 3px solid #4E4E50;
  color: #4E4E50;

}

input[type="number"].error {
  background-color: #E3AFBC;
}